.footer {
    background-color: #FFFFFF;
    height: 180px;
    color:#828282;
    text-align: center;
    font-size:15px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}
.footer-text {
    font-weight: 500;
    font-size: 14px;
    color:#A3A3A3

}
.coppy-right {
    font-weight: 600;
    color: #6D6D6D;

}